MAILCOW_BACKUP_SCRIPT=/opt/mailcow-dockerized/helper-scripts/backup_and_restore.sh
MAILCOW_BACKUP_LOCATION=/var/backups/mailcow
MAILCOW_BACKUP_TARGET=all
THREADS=4

RCLONE_REMOTE=mailcow-backups
RCLONE_BUCKET=my-mailcow-backups
RCLONE_DESTINATION_PATH=production
RCLONE_CONFIG_FILE=
RCLONE_FLAGS=

DELETE_LOCAL_AFTER_UPLOAD=true
LOCAL_RETENTION_DAYS=7
